params {
  config_profile_description = 'Cluster profile for BioHPC cluster at LMU'
  config_profile_contact = 'Raúl Wijfjes'
  config_profile_url = 'https://collab.lmu.de/display/BioHPCGenomics/BioHPC+Genomics'
}

charliecloud {
  enabled = true
}

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
  clusterOptions = "-M biohpc_gen --get-user-env --export=NONE"
  beforeScript = 'source $HOME/.bashrc'
  module   = 'charliecloud/0.30'
}

params {
  max_memory = 3.TB
  max_cpus = 80
  max_time = 14.d
}