/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run schneebergerlab/scatacseqrecomb -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '1.GB'
    max_time   = '1.h'

    // Input arguments
    input  = 'test_data/test_sample_sheet.csv'
    reference_config = 'test_data/test_reference_config.config'
    reference_name = 'Ni100_paternal'
    fasta = 'test_data/reference/test_B_nigra_paternal_B1_RagTag_1_1000000.fa'
    gtf = 'test_data/reference/test_B_nigra_paternal_B1_RagTag_1_1000000.gtf'
}
